.featured-project{
    min-height:80vh;
    padding:80px 8%;
    color:var(--text-color);
}

/* ===========================
   Mobile Responsive
=========================== */

@media (max-width:768px){

    .featured-project{
        padding:60px 8%;
        text-align:center;
    }

    .featured-project h2{
        font-size:34px;
    }

}